# Python bytecode
__pycache__/
*.py[cod]

# Environments
.venv/

# Data & outputs (adjust as needed)
data/raw/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Windows 
Thumbs.db
Desktop.ini

# Ignore the tmp folder inside src
/src/tmp/

# ML Model Logs
catboost_info/
logs/

# Misc
gitignore.txt

# Mac System Files (Good practice to add just in case)
.DS_Store